---
title: S•A•V•A•G•E•C•O•R•P
---

<div class="container">

<div class="header">
  <div class="logo">savagecorp</div>
  <div class="contact_email">
    <%= link_to 'Contact', 'mailto:hello@savagecorp.com', class: 'bttn' %>
  </div>  
</div>

<h1>A DIGITAL EXPERIENCE & PRODUCT DESIGN STUDIO</h1>

<!-- <p>Crafting experinces and delivering products for technology companies dirven to succeed.</p>  -->

<div class="project">
  <div class="proj_desc">
    <h3>Creating products that change industries. <br/> <%= link_to 'iOS &#8599;', 'http://apple.co/2nyjH2r', target: '_blank' %> <%= link_to 'www&nbsp;&#8599;', 'http://cheddar.com', target: '_blank' %></h3>
    <div>
      <p>Cheddar iOS launched with a live streaming broadcast, the ability for viewers to interact with anchors and others (in&nbsp;real&nbsp;time), and a full catalog of archived content. We continue to work with Cheddar on multiple projects across tvOS, iOS as well as the design & front-end development of <%= link_to 'www&nbsp;&#8599;', 'http://cheddar.com', target: "_blank" %>
      </p>
      <p>
      <%= link_to image_tag('/images/app-store-badge.png', alt: 'Cheddar TV App Store', 'data-rjs' => '3'), 'http://apple.co/2nyjH2r', target: '_blank', class: 'app-bttn' %>
      </p>
    </div>
  </div>
    <div class="ios_r proj_img">
    <%= image_tag('/images/ios_ched.png', class: 'ios_img', alt: 'Cheddar TV iOS', 'data-rjs' => '3') %>
  </div>
</div>

<%# Soma %>
<div class="project moremarg">
  <div class="ios_l">
    <%= image_tag('/images/somaVPN.png', class: 'lp_soma lap02_img', alt: 'Soma VPN', 'data-rjs' => '3') %>
  </div>
  <div class="proj_desc">
    <h3>Designing marketing solutions for emerging products and promotional websites that drive ROI.</h3>
    <div><p>SomaVPN wanted to promote a strong, safe and secure look, for their marketing website and upcoming product launch. What resulted was an incredibly happy client and website currently under development. </p></div>
  </div>
</div>

<%# bravo %>
<div class="project">
    <div class="proj_desc">
    <h3>Giving audiences more than they bargained for while delivering a product beyond expectation. <%= link_to 'iOS&nbsp;&#8599;', 'http://apple.co/2hSj1CS', target: '_blank' %></h3>
    <p>Bravo wanted to create a mobile version of their hit show 'Watch What Happens Live.' The result was a combination of sultry indulgence with a touch of truth or dare rolled into an interactive multiplayer experience.</p>
    <p>
      <%= link_to image_tag('/images/app-store-badge.png', alt: 'Plead the Fifth App Store', 'data-rjs' => '3'), 'http://apple.co/2hSj1CS', target: '_blank', class: 'app-bttn' %>
    </p>
  </div>
  <div class="ios_r proj_img">
    <%= image_tag('/images/ios_pt5.png', class: 'ios_img', alt: 'Plead the Fifth iOS', 'data-rjs' => '3') %>
  </div>
</div>

<%# werq %>
<div class="project lessmarg">
  <div class="ios_l proj_img">
    <%= image_tag('/images/ios_werq.png', class: 'ios_img', alt: 'Werq iOS', 'data-rjs' => '3') %>
  </div>
  <div class="proj_desc">
    <h3>Secure and trusted products that meet the standards of the professional medical community. <%= link_to 'www&nbsp;&#8599;', 'http://werq.io', target: "_blank" %></h3>
    <div>
      <p>In collaboration with the Werq team, Savagecorp designed a platform for physicians and staff to communicate, find, and refer colleagues to one another. Now doctors can ask questions, request feedback, track referral status, and connect with others on a secure and protected platform - iOS launching shortly. 
      <br><br> <%= link_to 'Werq.io&nbsp;&#8599;', 'http://werq.io', target: "_blank" %>
      </p>
    </div>
  </div>
</div>


<%# movable %>
<div class="project lessmarg">
  <div class="proj_desc">
    <h3>Successful enterprise applications depend on outstanding consumer experiences. <%= link_to 'www&nbsp&#8599;', 'http://movableink.com', target: '_blank' %></h3>
    <div>
      <p>Working alongside the team at Movable Ink, Savagecorp produced the design and experience of Agile Email, a total overhaul of the product line. The partnership continued through multiple web properties, an analytics dashboard, printed materials, and promotions. <br><br> <%= link_to 'Movable&nbsp;Ink&nbsp;&#8599;', 'http://movableink.com', target: "_blank" %>
      </p>
    </div>
  </div>
  <div class="ios_r">
    <%= image_tag('/images/mock_mi.png', class: 'lp_mi lap01_img', alt: 'Movable Ink Resources', 'data-rjs' => '3') %>
  </div>
</div>




<%# Bondcliq %>
<div class="project moremarg">
  <div class="ios_l">
    <%= image_tag('/images/mock_bondcliq.png', class: 'lp_bond lap02_img', alt: 'BondCliq', 'data-rjs' => '3') %>
  </div>
  <div class="proj_desc">
    <h3>Empowering traders with the confidence to make multi-million dollar decisions. <%= link_to 'www&nbsp;&#8599;', 'http://www.bondcliq.com/benefits-of-bondcliq/', target: '_blank' %></h3>
    <div><p>Launched Bondcliq's first financial product and startup business allowing bond traders to make informed choices about post-trade and pre-trade information. It resulted in the first central market system for US corporate bonds.<br><br> <%= link_to 'Bondcliq&nbsp;&#8599;', 'http://www.bondcliq.com/benefits-of-bondcliq/', target:'_blank' %></p></div>
  </div>
</div>



</div> <!-- end container -->

<footer>
  <div class="clients">
    <div class="content">
      <h3>Savagecorp helps a diverse set of startups and companies succeed, by providing product strategy, digital design, and front-end development. </h3>
      <p>Using a multidisciplinary approach that incorporates Experience Design, Creative Direction, Product Strategy and Development we solve complex problems that make an improved difference in our client's businesses. </p>
      <p class="contact_email"><%= link_to 'Let\'s Work Together', 'mailto:hello@savagecorp.com', class: 'bttn' %></p>
    </div>
    <div class="client_logos_wrap">
      <%= link_to image_tag('/images/icon_airbus_drk.png', alt: 'Airbus', 'data-rjs' => '3'),   'http://bit.ly/2nyffkr', target: '_blank', class: 'client_logo' %>
      <%= link_to image_tag('/images/icon_amex_drk.png', alt: 'American Express', 'data-rjs' => '3'),     'http://amex.co/1bukTFx', target: '_blank', class: 'client_logo'  %>
       <%= link_to image_tag('/images/icon_airtime_drk.png', alt: 'Airtime iOS', 'data-rjs' => '3'), 'http://bit.ly/2oyXPF4', target: '_blank', class: 'client_logo' %>
      <%= link_to image_tag('/images/icon_bravo_drk.png', alt: 'Bravo TV iOS', 'data-rjs' => '3'),    'http://bitly.com/2jcpdZD', target: '_blank', class: 'client_logo'  %>
      <%= link_to image_tag('/images/icon_capture_drk.png', alt: 'Capture iOS', 'data-rjs' => '3'),  'http://bit.ly/2oriIp6', target: '_blank', class: 'client_logo'  %>
      <%= link_to image_tag('/images/icon_east_drk.png', alt: 'Eastmedia', 'data-rjs' => '3'),     'http://bit.ly/2ozcYGE', target: '_blank', class: 'client_logo' %>
      <%= link_to image_tag('/images/icon_equifax_drk.png', alt: 'Equifax', 'data-rjs' => '3'),  'http://bit.ly/1qGqOoQ', target: '_blank', class: 'client_logo'  %>
       <%= link_to image_tag('/images/icon_fein_drk.png', alt: 'Fein Tools', 'data-rjs' => '3'),    'http://bit.ly/2nPMkL0', target: '_blank', class: 'client_logo' %>
      <%= link_to image_tag('/images/icon_lovesac_drk.png', alt: 'LoveSac', 'data-rjs' => '3'),  'http://bit.ly/2nMFdBy', target: '_blank', class: 'client_logo'  %>
      <%= link_to image_tag('/images/icon_km_drk.png', alt: 'KnowMore iOS', 'data-rjs' => '3'),       'http://bit.ly/2iMeaTJ', target: '_blank', class: 'client_logo'  %>
      <%= link_to image_tag('/images/icon_mi_drk.png', alt: 'Movable Ink', 'data-rjs' => '3'),       'http://bit.ly/2nMqIO5', target: '_blank', class: 'client_logo'  %>
      <%= link_to image_tag('/images/icon_wm_drk.png', alt: 'Work Market', 'data-rjs' => '3'),       'http://bit.ly/1JsnvKT', target: '_blank', class: 'client_logo'  %>
      <%= link_to image_tag('/images/icon_zipmark_drk.png', alt: 'Zipmark', 'data-rjs' => '3'),  'http://bit.ly/2n2Nzb6', target: '_blank', class: 'client_logo' %>
      <%= link_to image_tag('/images/icon_ss_drk.png', alt: 'Security Scorecard', 'data-rjs' => '3'),       'http://bit.ly/1Tauknw', target: '_blank', class: 'client_logo'  %>
    </div>
  </div>
</footer>


